#header {
  color: black;
}

#promotions {
  width: 100%;
}

body {
  width: 100%;
}

table {
  margin: auto;
  width: 70%;
  border: 1px solid black;
}

th {
  width: 50%;
  border: 1px solid black;
}

td {
  width: 50%;
  border: 1px solid black;
}


/*.preloader-wrapper {
  visibility: hidden;
}*/

nav {
  background-color: black;
}

#buttons {
  margin-top: 70px;
}

.preloader-wrapper {
  margin-top: 80px;
}
